<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2"
				 resourceType="Unspecified" />
		</handlers>

		<!--  stdoutLogEnabled = true  zapisuje log do LogFiles/stdout  -->
		<aspNetCore processPath="dotnet"
					arguments="Magistri.dll"
					stdoutLogEnabled="true"
					stdoutLogFile="\\?\\%home%\\LogFiles\\stdout"
					hostingModel="InProcess" />
	</system.webServer>
</configuration>
