@model Subject
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="card">
				<div class="card-body">
					<div class="card-title">
						<h1 class="fw-bold text primary">Upravit předmět</h1>
					</div>
					<form method="POST">

						<div asp-validation-summary="ModelOnly"></div>
						<input asp-for="Id" hidden />
						<div class="mb-3">
							<label asp-for="Name" class="form-label">Název třídy</label>
							<input asp-for="Name" class="form-control" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label asp-for="ShortName" class="form-label">Zkratka</label>
							<input asp-for="ShortName" class="form-control" />
							<span asp-validation-for="ShortName" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label asp-for="Description" class="form-label">Popis</label>
							<input asp-for="Description" class="form-control" />
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>
						
						<div class="row d-flex flex-row">
							<div class="col-md-6">
								<button type="submit" class="btn btn-primary">Upravit</button>
							</div>
							<div class="col-md-6  text-end align-items-end">
								<a asp-action="List" class="btn btn-danger">Zpět</a>
							</div>

						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>